@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Barlow+Semi+Condensed:ital@0;1&family=Barlow:ital,wght@0,300;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}