@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&family=Barlow+Semi+Condensed:ital@0;1&family=Barlow:ital,wght@0,300;1,300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Barlow", Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// html,
// html[data-theme="light"] {
//   --color-text-primary: #076963;
//   --color-text-secondary: #076963;
//   --color-bg-primary: #fff;
//   --color-bg-toggle: #1e90ff;
// }

// html[data-theme="dark"] {
//   --color-text-primary: #ff6b00;
//   --color-text-secondary: #ff6b00;
//   --color-bg-primary: #15232d;
//   --color-bg-toggle: #a9a9a9;
// }

// h1 {
//   background: var(--color-bg-primary);
//   color: var(--color-text-primary);
// }

