@import './vars.scss';

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px 0 0;

    input {
        border: 1px solid $light;
        margin: 0 7px 0 0;
        padding: 3px 5px;
        width: 200px;
        color: $light;

        @media only screen and (min-width: $s) {
            width: 100px;
        }
    }

    input::placeholder {
        color: $light;
        font-size: 10px;
    }

    input:focus {
        color: $medium;
        outline: none;
    }

    svg {
        width: 30px;
        height: 30px;
        margin: 3px 0 0 0;
        cursor: pointer;

        @media only screen and (min-width: $s) {
            width: 20px;
            height: 20px;
        }
    }
}