// FONTS
$font-light: "Barlow", sans-serif;
$font-medium: "Barlow Semi", sans-serif;
$font-thick: "Barlow Semi Condensed";

// COLORS
$background: #FDFEFF;
$light: #696969;
$medium: #464646;
$dark: #393B3E;

$box: #393B3E;

$war: #6D2E46;
$ach: #9DC3C2;
$meg: #FC7753;
$dcs: #F6BD60;
$col: #99C2A2;
$van: #7B8CDE;
$ins: #A27E8E;
$pho: #2D4654;
$og: #659B5E;


